<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="css/landing.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  
  <!--warnings -->
  <% if(success && success.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-success" role="alert">
       <strong><%=success%></strong>
    </div>
  </div>
  <%}%>
  <% if(error && error.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-danger" role="alert">
       <%=error%>
    </div>
  </div>
  <%}%>



  <div class="container width">
    <div class="row mt-5">
      <div class="col-md-5 m-auto">
        <div class="card card-body text-center">
          <h1>Message Recorder</h1>
          <p>Create an account or login</p>
          <div>
            <a href="/register" class="btn btnreg btn-block mb-2"
            ><strong>Register</strong></a>
            <a href="/login" class="btn btnlog btn-block"><strong>Login</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>