<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/login.css" />
  <link href="/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/bootstrap-4.3.1-dist/css/bootstrap-theme.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
 
 <!--warnings -->
  <% if(success && success.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-success" role="alert">
       <%=success%>
    </div>
  </div>
  <%}%>
  <% if(error && error.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-danger" role="alert">
       <%=error%>
    </div>
  </div>
  <%}%>

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 m-auto">
      
       <div class="card card-body text-center icon">
         <h1>Login</h1>
         <form action="/login" method="POST">

          <div class="ui left icon input fluid">
            <input class="form-control"  type="email" name="username" placeholder="email" required>
            <i class="user icon"></i>
          </div>

          <div class="ui left icon input fluid">
            <input class="form-control" type="password" name="password" placeholder="password" required>
            <i class="lock icon"></i>
          </div>
          
          <input role="button" class="btn btn-sm"type="submit" value="Login!">
           <p>or</p>
           <a class="btn btn-sm m-auto" href="/register" role="button">SignUp!</a>
        </form>
        
      </div>
    </div>
  </div>
</div>
</div>

<script src="/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>