<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="css/register.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>
  

  <!--warnings -->
  <% if(success && success.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-success" role="alert">
       <strong><%=success%></strong>
    </div>
  </div>
  <%}%>
  <% if(error && error.length>0) {%>
  <div class="container mt-2">
    <div class="alert alert-danger" role="alert">
       <%=error%>
    </div>
  </div>
  <%}%>


  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4 m-auto">
        <div class="card card-body text-center icon">
          <h1>Sign Up!</h1>
          <form action="/register" method="post">


          <div class="ui left icon input fluid">
            <input class="form-control"  type="email" name="username" placeholder="email" required>
            <i class="user icon"></i>
          </div>


          <div class="ui left icon input fluid">
            <input class="form-control" type="password" name="password" placeholder="password" required pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" title="Must contain at least one number ,one uppercase and lowercase letter ,one special character and at least 8 or more characters">
            <i class="lock icon"></i>
          </div>


           <input role="button" class="btn btn-sm"type="submit" value="Register">
           <p>or</p>
           <a class="btn btn-sm m-auto" href="/login" role="button">Login!</a>
        </form>
      </div>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</body>
</html>