*{ 
  margin:0; 
  padding:0; 
}


/* HEADER */

header h1{
  margin-left: 2rem;
  margin-top: 1rem;
  font-family: 'Pacifico', cursive;

}

/* Nav */

.navbar{
  background-color:black;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.navbar .left_nav{
  margin-left: 150px;
}

.navbar .right_nav{
  margin-right: 12em;
}

.navbar li{
  display: inline;
  font-weight: 400;
}

ul .ask_b{
  margin-right: 15px;
  height: 15px !important;
}

.navbar li a{
  color:#cccccc;
  font-size: 18px;
  font-weight:500;
}

.navbar li a:hover{
  color:#ffffff;
}

.navbar li .dropdown-menu a{
  color:#000000 !important;
}

.b_color{
  background-color: white;
}
.b_color header h1{
  margin:0;
  padding: 10px;
  padding-left:30px;
  color: black;
}

nav .bd-search{
  background-color:red;
}

.fa, .fas{
  margin-left: 20px !important;
}

/*topic*/
.topic li{
  text-decoration: none;
  list-style-type: none;
  margin-left:20px;
  font-weight: 500;
  font-size: 1.2em;
  color: #2d0542;
}

/* main post */

.borderright{
  border-left:1px solid rgba(0,0,0,0.5);
}

.sideh1 h3{
  color: grey;
  margin-top: 2rem;
  margin-left: 1.3rem;
  font-size: 1.3rem;
  font-family: 'Merriweather', serif;
}

.borderleft{
  border-right:1px solid rgba(0,0,0,0.5);
}

/* post in */

.post{
  background-color:rgba(0,0,0,0.1) ;
  margin:10px;
  width: 70%;
}

.post_in{
  padding: 10px 10px;
}

/* .T-sixe{
  margin-left: 5em !important;
} */

.searchh{
  margin-left: 12em !important;
}